@charset "UTF-8";

body {
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 20%, rgb(34, 77, 133));
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.719);
    margin-top: 30px;
}

p {
    text-align: center;
    color: rgba(255, 255, 255, 0.719);
    margin-top: 30px;
}

#caixa-botao {
    margin-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.redes {
    margin-bottom: 10px;
    padding: 20px ;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    width: 300px;
    font-size: 15px;
    font-weight: 550;
    color: rgb(34, 77, 133);
    transition: 0.5s;
}

.redes:hover {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 20px ;
    background-color: rgba(155, 129, 129, 0.219);
    border-radius: 20px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    width: 300px;
    color: #fff;
}

footer {
    font-size: 12px;
    text-align: center;
    margin: 0;
    margin-top: 80px;
    font-weight: 600;
    color: rgba(250, 235, 215, 0.774);
}